In [1]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
from pydataset import data
import env

# The below was changed into a group project assignment and is in the file labeled: hypothesis_testing_group_work.ipynb

Do your work for this exercise in a jupyter notebook named hypothesis_testing.ipynb.

For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.

Has the network latency gone up since we switched internet service providers?
Is the website redesign any good?
Is our television ad driving more sales?

# T-test Exercises:

Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

H0 = office 1 is equal or better at sales
Ha = office 2 is better at sales

In [10]:
alpha = .05

In [11]:
stats.ttest_ind_from_stats(90, 15, 40, 100, 20, 50)

Ttest_indResult(statistic=-2.6252287036468456, pvalue=0.01020985244923939)

True Positive

small p-value -- < alpha (.05)
reject ð»0

(The data shows that sales office #2 is better)


OR

False Positive

small p-value
reject ð»0

perhaps one office was having a sale during the measured time fram while the other was not

# 2

Load the mpg dataset and use it to answer the following questions:

    Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
    Are compact cars more fuel-efficient than the average car?
    Do manual cars get better gas mileage than automatic cars?

In [3]:
#play with data

In [4]:
#url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/employees'

In [5]:
mpg =  data('mpg')

In [6]:
mpg.sample(5)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
155,pontiac,grand prix,3.1,1999,6,auto(l4),f,18,26,r,midsize
127,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv
174,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv
219,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact
103,honda,civic,1.6,1999,4,manual(m5),f,23,29,p,subcompact

In [7]:
mpg['avg_mpg'] = (mpg.cty + mpg.hwy)/2

In [8]:
# a-Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

H0 = 1999 cars are equal or less efficient than 2008 car

Ha = 1999 cars are more efficient than the 2008 car

In [16]:
a_yr = mpg.groupby(mpg.year).avg_mpg.mean()

In [17]:
c_yr = mpg.groupby(mpg.year).cty.mean()

In [18]:
h_yr = mpg.groupby(mpg.year).hwy.mean()

In [35]:
yr_99 = mpg[mpg.year == 1999].avg_mpg

In [36]:
yr_08 = mpg[mpg.year == 2008].avg_mpg

In [37]:
yr_99.var(), yr_08.var()

(27.122605363984682, 24.097480106100797)

In [38]:
t, p = stats.ttest_ind(yr_99, yr_08, equal_var=True)

t, p/2, alpha

(0.21960177245940962, 0.4131872020161789, 0.05)

In [39]:
print("is p/2 < alpha? ", p/2 < alpha)
print("is t > 0? ", t > 0)

is p/2 < alpha?  False
is t > 0?  True

In [40]:
if (p/2 < alpha) & (t > 0):
    print("We reject the null hypothesis")
else:
    print("We fail to reject the null hypothesis")

We fail to reject the null hypothesis

In [9]:
# b-Are compact cars more fuel-efficient than the average car?

H0 = compact cars are equal or less efficient than average car

Ha = compact cars are more efficient than the average car

In [45]:
comp = mpg[mpg['class'] == 'compact'].avg_mpg

In [63]:
overall_avg = mpg.avg_mpg.mean()

In [64]:
t, p = stats.ttest_1samp(comp, overall_avg)

t, p/2, alpha

(7.896888573132535, 2.0992818971585593e-10, 0.05)

In [65]:
print("is p/2 < alpha? ", p/2 < alpha)
print("is t > 0? ", t > 0)

is p/2 < alpha?  True
is t > 0?  True

In [66]:
if (p/2 < alpha) & (t > 0):
    print("We reject the null hypothesis")
else:
    print("We fail to reject the null hypothesis")

We reject the null hypothesis

In [ ]:
# c-Do manual cars get better gas mileage than automatic cars?

H0 = auto cars are equal or less efficient than manual cars

Ha = auto cars are more efficient than manual cars

In [51]:
auto = mpg[mpg.trans.str.contains('auto')].avg_mpg

In [53]:
man = mpg[mpg.trans.str.contains('man')].avg_mpg

In [54]:
auto.var(), man.var()

(21.942777233382337, 26.635167464114826)

In [56]:
t, p = stats.ttest_ind(auto, man, equal_var=True)

t, p/2, alpha

(-4.593437735750014, 3.5771872005728424e-06, 0.05)

In [57]:
print("is p/2 < alpha? ", p/2 < alpha)
print("is t > 0? ", t > 0)

is p/2 < alpha?  True
is t > 0?  False

In [58]:
if (p/2 < alpha) & (t > 0):
    print("We reject the null hypothesis")
else:
    print("We fail to reject the null hypothesis")

We fail to reject the null hypothesis