In [1]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
from pydataset import data
import env

Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

In [2]:
stats.ttest_ind_from_stats(90, 15, 40, 100, 20, 50)

Ttest_indResult(statistic=-2.6252287036468456, pvalue=0.01020985244923939)

In [3]:
#2 office is better, but not by much

In [4]:
#? what to do with the .05 level of significance



Load the mpg dataset and use it to answer the following questions:

    Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
    Are compact cars more fuel-efficient than the average car?
    Do manual cars get better gas mileage than automatic cars?

In [5]:
#url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/employees'

In [6]:
mpg =  data('mpg')

In [7]:
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

Do your work for this exercise in a jupyter notebook named hypothesis_testing.ipynb.

For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.

    Has the network latency gone up since we switched internet service providers?
    Is the website redesign any good?
    Is our television ad driving more sales?

### The above was changed into a group project assignment and is in the file labeled: hypothesis_testing_group_work.ipynb