In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import env

####### A bank found that the average number of cars waiting during the noon hour at a drive-up window follows a Poisson distribution with a mean of 2 cars. Make a chart of this distribution and answer these questions concerning the probability of cars waiting at the drive-up window.

In [ ]:
## What is the probability that no cars drive up in the noon hour?

In [ ]:
λ=2
stats.poisson(λ).pmf(0)

In [ ]:
#What is the probability that 3 or more cars come 
#through the drive through?

In [ ]:
stats.poisson(λ).sf(2) #not inclusive, so use 2 not 3

In [ ]:
#How likely is it that the drive through gets at least 1 car?

In [ ]:
stats.poisson(λ).sf(0)

####### Grades of State University graduates are normally distributed with a mean of 3.0 and a standard deviation of .3. Calculate the following:

In [ ]:
gpa = stats.norm(3, .3)

In [ ]:
#What grade point average is required to be in the top 5% of the graduating class?
gpa.isf(.06) #upper limit is not inclusive

In [ ]:
#What GPA constitutes the bottom 15% of the class?
gpa.ppf(.15) #bottom limit is inclusive

In [ ]:
#An eccentric alumnus left scholarship money for students in the third decile from the bottom of their class. 
#Determine the range of the third decile. 
#Would a student with a 2.8 grade point average qualify for this scholarship?
gpa.ppf(.3)

In [ ]:
gpa.ppf(.4)

In [ ]:
# Range is 2.84 - 2.92 
# Yes, a 2.8 will qualify

In [ ]:
#If I have a GPA of 3.5, what percentile am I in?
gpa.pdf(3.5)

####### #3 A marketing website has an average click-through rate of 2%. One day they observe 4326 visitors and 97 click-throughs. How likely is it that this many people or more click through?

In [ ]:
obs = 4326
p = .02

clicks = stats.binom(obs, p)

In [ ]:
clicks.pmf(97)

####### #4 You are working on some statistics homework consisting of 100 questions where all of the answers are a probability rounded to the hundreths place. Looking to save time, you put down random probabilities as the answer to each question.

    What is the probability that at least one of your first 60 
    answers is correct?

In [ ]:
#Total possible outcomes for 5 coin flips = 2.2.2.2.2 = 32

In [ ]:
#Total possibile outcomes for 4 digits = 10.10.10.10 = 10_000

In [ ]:
n_questions = 60
p = 1/10_000

correct = stats.binom(n_questions, p)

In [ ]:
correct.pmf(1)

####### #5 Suppose that there's a 3% chance that any one student cleans the break area when they visit it, and, on any given day, about 90% of the 3 active cohorts of 22 students visit the break area. How likely is it that the break area gets cleaned up each day? How likely is it that it goes two days without getting cleaned up? All week?

####### #6 You want to get lunch at La Panaderia, but notice that the line is usually very long at lunchtime. After several weeks of careful observation, you notice that the average number of people in line when your lunch break starts is normally distributed with a mean of 15 and standard deviation of 3. If it takes 2 minutes for each person to order, and 10 minutes from ordering to getting your food, what is the likelihood that you have at least 15 minutes left to eat your food before you have to go back to class? Assume you have one hour for lunch, and ignore travel time to and from La Panaderia.

In [33]:
lunch = stats.norm(15, 3) #people

In [34]:
lt = stats.norm(150, 30) #time in minutes

In [37]:
lt.cdf(43) #+2 min for initial order when nothing is being made
#2+43 = 45

0.00018077544840556015

In [ ]:
#you gonna be late. or hungry

######## #7 Connect to the employees database and find the average salary of current employees, along with the standard deviation. For the following questions, calculate the answer based on modeling the employees salaries with a normal distribution defined by the calculated mean and standard deviation then compare this answer to the actual values present in the salaries dataset.

In [2]:
url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/employees'

In [3]:
query = '''
SELECT
    s.salary,
    e.emp_no
FROM employees e
JOIN salaries s USING (emp_no)
where s.to_date < '9999-01-01'
'''

sal = pd.read_sql(query, url)
sal.head()

   salary  emp_no
0   60117   10001
1   62102   10001
2   66074   10001
3   66596   10001
4   66961   10001

In [4]:
sal.shape

(2603923, 2)

In [5]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2603923 entries, 0 to 2603922
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   salary  int64
 1   emp_no  int64
dtypes: int64(2)
memory usage: 39.7 MB

In [6]:
sal.describe()

             salary        emp_no
count  2.603923e+06  2.603923e+06
mean   6.305443e+04  2.530553e+05
std    1.666494e+04  1.618440e+05
min    3.873500e+04  1.000100e+04
25%    4.989800e+04  8.487800e+04
50%    6.031100e+04  2.497800e+05
75%    7.325600e+04  4.249180e+05
max    1.578210e+05  4.999990e+05

In [7]:
sal_prob = stats.norm(63054, 16665) #normal distribution

In [ ]:
#What percent of employees earn less than 60,000?

In [8]:
sal_prob.cdf(60_000)

0.4272976658809071

In [9]:
sal['sixty'] = sal.salary < 60_000

In [10]:
sal.sixty.mean()

0.49274152883937045

In [ ]:
#What percent of employees earn more than 95,000?

In [11]:
sal_prob.sf(95_000)

0.027622034342980075

In [12]:
sal['ninety_five'] = sal.salary > 95_000

In [13]:
sal.ninety_five.mean()

0.04847877606211858

In [ ]:
#What percent of employees earn between 65,000 and 80,000?

In [14]:
sal_prob.cdf(80_000)-sal_prob.cdf(65_000)

0.29891087824120177

In [16]:
sal['sf_e'] = (sal.salary > 65_000) & (sal.salary < 80_000)

In [17]:
sal.sf_e.mean()

0.23572740054141386

In [ ]:
#What do the top 5% of employees make?

In [27]:
sal_prob.isf(.05)

90465.4856931463

In [31]:
l = sal.sort_values('salary', ascending = False).head(int(len(sal)*.05))
l

         salary  emp_no  sixty  ninety_five   sf_e
291737   157821   43624  False         True  False
863977   155377  109334  False         True  False
863978   154888  109334  False         True  False
863976   154885  109334  False         True  False
1338275  154227  253939  False         True  False
...         ...     ...    ...          ...    ...
1377612   94668  258530  False        False  False
879260    94668  201027  False        False  False
930504    94668  206919  False        False  False
1444925   94668  266206  False        False  False
745673    94668   95697  False        False  False

[130196 rows x 5 columns]

In [32]:
l.salary.mean()

103793.6008402716